
#header {
    background:url('../Images/Banner.jpg');
    margin-right: auto;
    margin-left: auto;
    width:900px;
}

#helpline {
    color:red;
    font-size:20px;
    margin-left: auto;
    margin-right: auto;
    
}

#container {
    margin:200px;
    min-height:100%;
    min-width:100%;
}
