body
{
	font-family: "Futura", sans-serif;
}

div.bannerdiv.banner
{
	height:179px;
}

div.banner img
{
	border:0px;
	margin:auto;
}

div.menubar
{
	height:37px;
	margin-top:5px;
	background-color: #F8981D;
	margin:auto;
}


a:link {color:#FFFFFF;}
a:visited {color:#925f29;}

a.menubar:link {color:#FFFFFF;text-decoration:none;}
a.menubar:visited {color:#925f29;text-decoration:none;}

div.menubar p
{
	font-family:"Futura", sans-serif;
	font-size:1.3em;
	color:#FFFFFF;
	margin:3px;
	text-align:center;
	padding-top:3px;
}

div.top
{
	width:920px;
	margin:auto;
}

div.mainArea
{
	margin:auto;
	width:920px;
	height: 700px;
	background-color:#FFFFFF;
	
}
 
div.picbox
{
	width:669px;
	height:342px;
	margin-top:8px;
	background:url(../Images/elephant2.gif);
	background-color:#FFFFFF;
}

div.content
{
	background-color:#FFFFFF;
	width:669px;
	margin-top:12px;
	
}

div.content hr
{
	color:#F8981D;
	width:669px;
	background-color:#F8981D;
	height:2px;
	border:0px;
}

div.content h1
{
	font-family:"Georgia", serif;
	font-size:1.75em;
	color:#925f29;
	
}

div.content h2
{
	font-family:"Georgia", serif;
	font-size:1em;
	color:#925f29;
	
}

div.content p
{
	font-family:"Futura", sans-serif;
	font-size:1em;
	color:#925f29;
}

div.subContent a
{
	color:#925f29;
}

div.subContent 
{
	background-color:#FFFFFF;
	width:669px;
	margin-top:12px;
	padding:0.75em;
}

div.subContent hr
{
	color:#F8981D;
	width:660px;
	background-color:#F8981D;
	height:2px;
	border:0px;
}

div.subContent h2 
{
	font-family:"Georgia", serif;
	font-size:1.75em;
	color:#925f29;
}

div.subContent h3


div.subContent p 
{
	font-family:"Futura", sans-serif;
	font-size:1em;
	color:#F8981D;
}

div.linkDiv 
{
	width: 669px;
	font-family:"Georgia", serif;
	color:#925F29;
	font-size: 1.3em;
	margin: 1em;
}

div.uploadDiv
{
	width: 650px;
	margin: auto;
	font-family: "Futura", sans-serif;
	color: #FFFFFF;
	font-size: 1.3em;
	text-align: left;
	border: 4px;
	padding: 7px;
	border-style: solid;
	border-color: #925F29;
	background-color: #F8981D;	
}

div.moveRight
{
	position: relative;
	right: -20px;
}

div.login
{
	background-color:#F8981D;
}

div.search
{
	background-color:#F8981D;
	padding-bottom:1px;
}

div.right_sidebar
{
	float: right;
	background-color:#FFFFFF;
	width:181px;
}

div.right_sidebar p
{
	font-family:"Futura", sans-serif;
	font-size:1.2em;
	color:#FFFFFF;
}

div.right_sidebar form
{
	padding-left:10px;
	padding-bottom:1px;
}

div.search form
{
	font-family:"Futura", sans-serif;
	font-size:1.2em;
	color:#FFFFFF;
}

div.contactdetails
{
	font-family:"Futura", sans-serif;
	font-size:0.8em;
	color:#F8981D;

	text-align: center;
}

div.contactdetails hr
{
	color:#925f29;
	width:150px;
	background-color:#925f29;
	height:3px;
	border:0px;
	align: center;
	
}

div.map
{
	margin:auto;
	width:678px;
	height:329px;
	position:relative;
	left:40px;
	padding:15px;
}

div.northamerica
{
	width:206px;
	height:158px;
	background:url(../Images/Map/NorthAmerica.png);
	background-repeat:no-repeat;
}

div.southamerica
{
	width:206px;
	height:169px;
	background:url(../Images/Map/SouthAmerica.png);
	background-repeat:no-repeat;
}

div.europe
{
	width:172px;
	height:99px;
	background:url(../Images/Map/Europe.png);
	background-repeat:no-repeat;
}

div.africa
{
	width:172px;
	height:228px;
	background:url("../Images/Map/Africa.png");
	background-repeat:no-repeat;
}

div.asia
{	
	width:300px;
	height:188px;
	background:url(../Images/Map/Asia.png);
	background-repeat:no-repeat;
}

div.oceania
{
	width:300px;
	height:141px;
	background:url(../Images/Map/Oceania.png);
	background-repeat:no-repeat;
}

div.west
{
	float:left;
}

div.mid
{
	float:left;
}

div.east
{
	float:left;	
}	

div.forummodule										
{
	margin:auto;
	width: 500px;
	background-color: #F7F7F7;
	color:#925f29;
	font-family:"Futura", sans-serif;
	padding-bottom:5px;
}

div.forummodule h1
{
	color:#F8981D;
	font-size:1.3em;
	font-family:"Futura", sans-serif;
	padding-left:5px;
}

div.forummodule h4
{
	font-family:"Futura", sans-serif;	
	color:#925f29s;
	padding-left:20px
}

div.forummodule h5
{
	padding-left:40px;
	color:#F8981D;
}